name: Full CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17
        cache: maven

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      with:
        projectBaseDir: .

    - name: Maven Build
      run: mvn -B package

    - name: SBOM using Syft
      uses: anchore/actions/sbom@v1
      with:
        path: .
        output-file: sbom.json

    - name: Vulnerability Scan using Grype
      uses: anchore/actions/scan@v1
      with:
        sbom: sbom.json

    - name: Build Docker Image
      run: docker build -t demo-app:latest .

    - name: Trivy Image Scan
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: demo-app:latest
        exit-code: 0

    - name: Dummy Upload to Artifactory
      run: |
        echo "Simulating upload to Artifactory..."
        echo "Build completed successfully!"

        echo "Simulating upload to Artifactory..."
        echo "Build completed successfully!"
